header{
    background-color:rgb(245, 108, 176);
    display: flex;
    justify-content: space-between;
    padding: 20px 10vw;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid rgb(202, 89, 108);
    color:black;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
}
.imagem-container {
    width: 95px;
}

.imagem-container img {
    width: 100%; 
    height: auto; 

}
.apresentacao_header{
    display: flex;
    align-items: center;
    gap: 15px;
}
.apresentacao_header{
    text-decoration: none;
    padding: 15px;
    color:black;
   font-size: larger;
}




