.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;

    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #bebebe;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
    outline: 1px solid rgb(202, 89, 108);
}
.pesquisa{
    padding: 50px;
}

@media screen and (max-width: 1115px) {
    .content-main{
        grid-template-columns: repeat(2,1fr);
    }
    
}

@media screen and (max-width: 600px) {
    .content-main{
        grid-template-columns: repeat(1,1fr);
    }
    
}
.foto_portifolio>img{
    width: 300px;
    height: 380px;
    display: flex;  
}
.foto_portifolio{
    min-height: 350px;
    display: flex;
    align-items: center;
}